<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
      <supported Runtimeversion="v4.0" /> 
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <connectionStrings>
    <!--<add name="ConnectionStringMysql" connectionString="server=192.168.5.187;uid=wamarpesrl;pwd=rAmOn.moya_1324;database=db_avc;Convert Zero Datetime=True;Connect Timeout=50000"/>-->
    <add name="ConnectionStringMysql" connectionString="server=localhost;uid=root;pwd=root2020;database=db_valeria;Convert Zero Datetime=True;Connect Timeout=50000"/>
    <!--<add name="ConnectionStringMysql" connectionString="server=localhost;uid=root;pwd=root2020;database=db_atcco;Convert Zero Datetime=True;Connect Timeout=50000"/>-->
    <!--<add name="ConnectionStringMysql" connectionString="server=localhost;uid=root;pwd=root2020;database=db_avc;Convert Zero Datetime=True;Connect Timeout=50000" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
</configuration>
